<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|ToDoList</title>
    <link rel="stylesheet" href="http://localhost:80/loginStyle.css">
</head>
<body>
    <header>
        <div>
            <h1>ToDoList</h1>
        </div>
    </header>

    <main>
        <form action="" method="post" id="signInForm">
            <label for="inputUsername">Username:</label>
            <input type="text" id="inputUsername" placeholder="Username or email">
            <label for="inputPassword">Password:</label>
            <input type="password" id="inputPassword" placeholder="Password">
        </form>
    </main>
</body>
</html>