<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|ToDoList</title>
    <link rel="stylesheet" href="http://localhost:80/loginStyle.css">
</head>
<body>
    <header>
        <div class="containerHeader">
            <h1>ToDoList</h1>
        </div>
    </header>

    <main>
        <div class="mainContainerLogin">
            <figure>
                <img src="./assets/loginAvatar.svg" alt="Login avatar svg">
            </figure>
            <form action="/dashboard" method="post" id="signInForm">
                <fieldset class="fieldsetSignInForm">
                    <legend>Log-in</legend>
                    <div class="containerInputSignInForm">
                        <label for="inputUsername">Username</label>
                        <input type="text" id="inputUsername" placeholder="Username or email" required>
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" placeholder="Password" required>
                    </div> 
                    <div class="containerBtnSignInForm">
                        <button id="btnLogin" class="btnStyleLogin">Log in</button>
                        <button id="btnSignUp" class="btnStyleLogin">Sign Up</button>
                    </div>
                </fieldset>
            </form>
        </div>
   </main>
</body>
</html>