<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contaienrAddTaskForm">
        <form action="" enctype="text/plain" method="post">
            <label for="taskName">Task name:</label>
            <input type="text" id="taskName" placeholder="Enter the task name">
            <label for="taskDescription">Description:</label>
            <input type="text" id="taskDescription" placeholder="Enter a Description">
            <label for="scheduleTask">When you need this task completed ?</label>
            <input type="date" id="scheduleTask" >
        </form>
    </div>
    
</body>
</html>