<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard | ToDo</title>
        <link rel="stylesheet" href="http://localhost:80/indexStyle.css">
        

    </head>
    <body>
        <header>
            <div class="mainHeaderContainer">
                <div class="mainTitleHeaderContainer">
                    <h1>ToDoList</h1>
                </div>
                <nav class="mainNavHeaderContainer">
                    <ul class="ulHeaderContainer">
                        <li type="none" id="myActivity">My Activity</li>
                        <li type="none" id="statistics">Statistics</li>
                        <li type="none" id="plugIns">Plug-Ins</li>
                    </ul>
                </nav>
            </div>
       </header>
        <main>
            <figure class="containerNoTaskAvatar">
                <img src="./assets/noTaskAvatar.svg" alt="No Task Avatar" id="noTaskAvatar">
                <figcaption id="addTaskBtn">Add a task</figcaption>
            </figure>

        </main>
    </body>
    <script src="./indexCode.js"></script>
</html>