:root {
    --backgroundLightStandard: #F4F1DE;
    --colorLightStandard: #3D405B;
    --fontFamilyStandard: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    font-family: var(--fontFamilyStandard);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundLightStandard);
}
    
/*HEADER*/

.mainHeaderContainer {
    display: flex;
    align-items: center;
    color: var(--backgroundLightStandard);
    background-color: var(--colorLightStandard); 
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 10px 5px 15px var(--colorLightStandard);
}

.mainNavHeaderContainer {
    flex: 1;
    justify-items: center;
}

.mainNavHeaderContainer .ulHeaderContainer {
    display: flex;
    font-weight: bolder;
    gap: 30px;
}
.mainHeaderContainer .ulHeaderContainer li {
    padding: 5px;
    border-radius: 5px;
    transition: all .5s ease;
}
.mainHeaderContainer .ulHeaderContainer li:hover  {
    background-color: var(--backgroundLightStandard);
    color: var(--colorLightStandard);
    cursor: pointer ;
}

/*MAIN*/

#noTaskAvatar {
    display: none;
}

.containerNoTaskAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 63px);
    gap: 25px;
}

#addTaskBtn {
    background-color: var(--colorLightStandard);
    color: var(--backgroundLightStandard);
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}

#addTaskBtn:hover {
    cursor: pointer;
}

.containerAddTaskForm {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: calc(100vh - 63px);
    border-radius: 5px;
}

.containerAddTaskForm #addTaskForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--backgroundLightStandard);
    color: var(--colorLightStandard);
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
}

.containerAddTaskForm #addTaskForm fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.containerAddTaskForm #addTaskForm input {
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--colorLightStandard);
    padding: 5px;
}

.containerAddTaskForm #addTaskForm fieldset .fieldsetmember {
    display: flex;
    flex-direction: column;
}

.containerAddTaskForm #addTaskForm .closeAddTaskForm {
    align-self: end;
}

.containerAddTaskForm #addTaskForm .closeAddTaskForm:hover {
    cursor: pointer;
}