<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard | ToDo</title>
        <link rel="stylesheet" href="http://localhost:80/indexStyle.css">
        
    </head>
    <body>
        <header>
            <div class="mainHeaderContainer">
                <div class="mainTitleHeaderContainer">
                    <h1>ToDoList</h1>
                </div>
                <nav class="mainNavHeaderContainer">
                    <ul class="ulHeaderContainer">
                        <li type="none" id="myActivity">My Activity</li>
                        <li type="none" id="statistics">Statistics</li>
                        <li type="none" id="plugIns">Plug-Ins</li>
                    </ul>
                </nav>
                <div>
                    <p id="addTaskHeaderBtn">Add a task</p>
                </div>
            </div>
       </header>
        <main>
            <div id="mainContainerTasks"></div>
            <figure class="containerNoTaskAvatar">
                <img src="./assets/noTaskAvatar.svg" alt="No Task Avatar" id="noTaskAvatar">
                <figcaption id="addTaskBtn">Add a task</figcaption>
            </figure>
            <div class="containerAddTaskForm">
                <form method="get" id="addTaskForm">
                    <p class="closeAddTaskForm">X</p>
                    <fieldset>
                        <div class="fieldsetmember">
                            <label for="taskName">Task name:</label>
                            <input type="text" id="taskName" placeholder="Enter the task name" required>
                        </div>
                        <div class="fieldsetmember">
                            <label for="taskDescription">Description:</label>
                            <input type="text" id="taskDescription" placeholder="Enter a Description" required>
                        </div>
                        <div class="fieldsetmember">
                            <label for="scheduleTask">When you need this task completed ?</label>
                            <input type="date" id="scheduleTask" required>
                        </div>

                        <div class="fieldsetmember">
                            <label for="priorityLevel">Priority level:</label>
                            <select name="priorityLevel" id="priorityLevel" required>
                                <option value="3">High</option>
                                <option value="2">Medium</option>
                                <option value="1">Low</option>
                            </select>
                        </div>

                        <div class="fieldsetmember">
                            <label for="typeTask">Type of task:</label>
                            <select name="typeTask" id="typeTask" required>
                                <option value="Work">Work</option>
                                <option value="Personal">Personal</option>
                                <option value="Educational">Educational</option>
                                <option value="Social">Social</option>
                                <option value="Relationship">Relationship</option>
                                <option value="Project">Project</option>
                                <option value="Family">Family</option>
                                <option value="Hobbie">Hobbie</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <button id="btnAddTask">Add</button>
                    </fieldset>
                </form>
            </div>
        </main>
    </body>
    <script src="./indexCode.js" type="module"></script>
</html>