:root {
    --backgroundLightStandard: #F4F1DE;
    --colorLightStandard: #3D405B;
    --fontFamilyStandard: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    font-family: var(--fontFamilyStandard);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundLightStandard);
}

/*HEADER*/

.mainHeaderContainer {
    display: flex;
    align-items: center;
    color: var(--backgroundLightStandard);
    background-color: var(--colorLightStandard);
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 10px 5px 15px var(--colorLightStandard);
    font-weight: bolder;
}

.mainHeaderContainer .mainTitleHeaderContainer {
    margin-left: 15px;
}

.mainNavHeaderContainer {
    flex: 1;
    justify-items: center;
}

.mainNavHeaderContainer .ulHeaderContainer {
    display: flex;
    gap: 30px;
}
.mainHeaderContainer .ulHeaderContainer li {
    padding: 5px;
    border-radius: 5px;
    transition: all .5s ease;
    user-select: none;
}

.mainHeaderContainer .ulHeaderContainer li:hover  {
    background-color: var(--backgroundLightStandard);
    color: var(--colorLightStandard);
    cursor: pointer ;
}

.mainHeaderContainer #addTaskHeaderBtn {
    margin-right: 15px;
    transition: all .5s ease;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.mainHeaderContainer #addTaskHeaderBtn:hover {
    cursor: pointer;
    background-color: var(--backgroundLightStandard);
    color: var(--colorLightStandard);
    user-select: none;
}

/*MAIN*/

#mainContainerTasks {
    gap: 15px;
    flex-wrap: wrap;
    margin: 30px 15px 0 15px;
    position: fixed;
    z-index: 1;
}

.containerNoTaskAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 93px);
    gap: 25px;
}

#addTaskBtn {
    background-color: var(--colorLightStandard);
    color: var(--backgroundLightStandard);
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}

#addTaskBtn:hover {
    cursor: pointer;
}

/*MAIN FORM TO ADD TASKS*/

.containerAddTaskForm {
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 93px);
    border-radius: 5px;
    position: relative;
    z-index: 999;
}

.containerAddTaskForm #addTaskForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--backgroundLightStandard);
    color: var(--colorLightStandard);
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    z-index: 999;
    position:relative;
}

.containerAddTaskForm #addTaskForm fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.containerAddTaskForm #addTaskForm input {
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--colorLightStandard);
    padding: 5px;
}

.containerAddTaskForm #addTaskForm fieldset .fieldsetmember {
    display: flex;
    flex-direction: column;
}

.containerAddTaskForm #addTaskForm .closeAddTaskForm {
    align-self: end;
    user-select: none;
}

.containerAddTaskForm #addTaskForm .closeAddTaskForm:hover {
    cursor: pointer;
}

.containerAddTaskForm #addTaskForm fieldset #btnAddTask {
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--colorLightStandard);
    padding: 5px;
    font-weight: bolder;
    color: var(--colorLightStandard);
    user-select: none;
}

.containerAddTaskForm #addTaskForm fieldset #btnAddTask:hover {
    cursor: pointer;
}

/*TASK COMPONENTS*/

#mainContainerTasks {
    display: flex;
}
.task {
    border: 1px solid var(--colorLightStandard) ;
    border-radius: 5px;
} 

.task .dateAndPriorityBlock {
    display: flex;
    justify-content: space-around;
}